<!DOCTYPE html>
<html xmins:th="http://www.thymeleaf.org">

	<head th:insert="~{fragments/fragments :: head}">
	</head>

	<body>
		<header>
			<nav th:replace="~{fragments/navbar :: navbar}"></nav>

		</header>
		<main class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="py-4 mb-2 text-center">Editing user [[${user.username}]]</h1>

					<form id="user-form" th:object="${user}" th:action="@{/users/edit/{id}(id=${user.id})}"
						method="POST">
						<div class="mb-3">
							<input type="text" th:value="*{username}" th:field="*{username}">
							<input type="text" th:value="*{password}" th:field="*{password}">
							<input type="text" th:value="*{name}" th:field="*{name}">
							<input type="text" th:value="*{lastName}" th:field="*{lastName}">

							<input type="hidden" th:value="*{tickets}" th:field="*{tickets}">


						</div>
						<div class="mb-3 d-flex justify-content-around">
							<input type="reset" class="btn btn-warning btn-lg" value="Reset fields">


							<!-- Button trigger modal -->
							<button type="button" class="btn btn-warning m-1" data-bs-toggle="modal"
								th:data-bs-target="'#update-modal-' + ${user.id}" >Update User

							</button>

							<!-- Modal -->
							<div class="modal fade" tabindex="-1" th:id="'update-modal-' + ${user.id}">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Confirm Update</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<p>Confirm new data of [[${user.username}]]?</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">Close</button>
											<form class="d-inline-block" th:action="@{/users/edit/{id}(id=${user.id})}" method="POST">
												<button type="submit" class="btn btn-danger m-1" value="Update user">Confirm</button>
											</form>
										</div>
									</div>
								</div>
							</div>

						</div>










					</form>



					<div class="card-body d-flex justify-content-center align-items-center">
						<a th:href="@{/users}" class="btn btn-primary">Back to users</a>
					</div>
				</div>
			</div>
		</main>
		<footer th:replace="~{fragments/fragments :: footer}">

		</footer>
		<th:block th:replace="~{fragments/fragments :: scripts}"></th:block>


	</body>

</html>