<!DOCTYPE html>
<html xmins:th="http://www.thymeleaf.org">

	<head th:insert="~{fragments/fragments :: head}">
	</head>

	<body>
		<header>
			<nav th:replace="~{fragments/navbar :: navbar}"></nav>
		</header>

		<!--USER SHOW-->
		
		<main class="container text-center" th:object="${user}">
			<div class="mb-3">
				<h1>[[ *{name} ]] [[*{lastName}]]</h1>
				<h3>[[ *{username} ]]</h3>
				<img>[[ *{picture} ]]</img>
			</div>
			<th:block th:if="*{tickets.size > 0}">
				<h1>Working on:</h1>
				<div class="container d-flex justify-content-center">
					<th:block th:each="ticket: ${tickets}" th:unless="${ticket.status.equals('Done')}">
						<div class="card" style="width: 18rem;">
							<div class="card-body">
								<h5 class="card-title">[[${ticket.title}]]</h5>
								<h6 class="card-subtitle mb-2 text-muted">[[${ticket.category.name}]]</h6>
								<p class="card-text">[[${ticket.content}]]</p>
								<form th:action="@{/users/{id}/addNote(id=${user.id})}" method="post">
									<input type="hidden" th:value="${ticket.id}" name="ticketId">
									<textarea name="note">[[${ticket.notes}]]</textarea>
									<input type="submit" class="btn btn-primary btn-lg" value="Add Note"></input>
								</form>
								<form th:action="@{/tickets/done/{id}(id=${ticket.id})}" method="post">
									<input type="submit" class="btn btn-success btn-lg" value="Set to Done">
								</form>
							</div>
					</th:block>
				</div>


				</form>
				</div>
			</th:block>

			<a class="btn btn-success m-1" th:href="@{edit/{id}(id=${user.id})}">Edit</a>
			
			<div class="card-body d-flex justify-content-center align-items-center">
				<a th:href="@{/users}" class="btn btn-primary">Back to users</a>
			</div>


		</main>
		<footer th:replace="~{fragments/fragments :: footer}">

		</footer>
		<th:block th:replace="~{fragments/fragments :: scripts}"></th:block>


	</body>

</html>